@import url('reset.css');
@import url('fonts.css');

body {
    background: linear-gradient(0deg, #F6F7F9 0%, #FFFFFF 62.81%);
}

a {
    cursor: pointer;
}

._counteiner {
    padding: 0 20px;
    max-width: 1140px;
    margin: 0 auto;
}

.content {
    max-width: 466px;
}

.right-side__content {
    margin-left: 51%;
}

.title {
    font-family: Roboto-Regular, sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 142%;
    font-weight: bold;
    color: #00194A;
    margin-bottom: 30px;
}

.text {
    font-family: Roboto-Light, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 155%;
    opacity: 0.8;
}

.text:not(:last-child) {
    margin-bottom: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

.icon {
    display: flex;
    align-items: flex-start;
}

.item__title {
    font-size: 22px;
    line-height: 118%;
}
    
.item__text {
    flex: 1 1 auto;
    font-size: 16px;
    line-height: 162%;
}

.button {
    display: inline-block;
    color: #ffffff;
    font-family: Roboto-Bold, sans-serif;
    font-weight: bold;
    background-color: rgb(255, 0, 67);
    transition: background-color .1s linear;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(206, 34, 80);
}

._bgimage {
    position: absolute;
    top: 0;
}

._anim-item {
    transform: translate(-100%, 0);
    transition: transform .5s;
}

._active {
transform: translate(0, 0);
}

//////////////////////// header===========================================================

.header__counteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

.logo {
    font-family: Roboto-Bold, sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: bold;
    color: #FF0043;
}

.button_s {
    padding: 15px 20px;
    border-radius: 23px;
    font-size: 14px;
    line-height: 114%;
}

//////////////////////// title-page===========================================================

.title-page {
    position: relative;
    overflow: hidden;
}

.title-page__bgimage {
    left: calc(50vw - (0.5 - 0.48) * (1140px));
}

.title-page__counteiner {
    padding-top: 112px;
    padding-bottom: 158px;
}

@media (max-width: 500px) {
    .header__counteiner {
        margin: 25px auto;
    }

    .title-page__counteiner {
        padding-top: 50px;
        padding-bottom: 70px;
    }
}

.title-page__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 552px;
    position: relative;
    z-index: 100;
}

.title-page__title {
    font-size: 60px;
    margin-bottom: 20px;
}

@media (max-width: 481px) {
    .title-page__title {
        font-size: 50px;
    }
}

// .title-page__text {
//     margin-bottom: 50px !important;
// }

.button_l {
    padding: 20px 50px;
    border-radius: 30px;
    font-size: 16px;
    line-height: 119%;
    margin-top: 50px
}

@media (max-width: 1340px) {
    .title-page__bgimage {
        left: auto;
        right: 0;
        opacity: .3;
        height: 100%;
    }

    .title-page__text {
        font-weight: 600;
    }
}

@media (max-width: 350px) {
    .button_l {
        align-self: center;
        padding: 20px 30px;
    }
}

//////////////////////// platforms===========================================================

.platforms__counteiner {
    padding-top: 80px;
    padding-bottom: 87px;
}

.platforms__item {
    padding: 30px;
    margin: 30px 0;
}

@media (min-width: 520px) {
    .platforms__counteiner {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 30px;
    }

    .platforms__item {
        flex: 1 1 33.333%;
        margin: 0;
    }
}

@media (max-width: 800px) {
    .platforms__counteiner {
        flex-wrap: wrap;
    }

    .platforms__item:last-of-type {
        flex: 1 1 100%;
    }
}

.platforms__icon {
    height: 48px;
    margin-bottom: 20px;
}

.icon__counteiner {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.icon__counteiner > .icon {
    margin-bottom: 0;
}

.platforms__title {
    margin-bottom: 15px;
}

.platforms__text {
    margin-bottom: 21px;
}

.downdload {
    display: flex;
    justify-content: space-between;
}

.downdload__link {
    font-family: Roboto-Light, sans-serif;
    font-size: 16px;
    line-height: 119%;
    color: #00194A;
    text-decoration-line: underline;
    opacity: 0.5;
}

//////////////////////// simple-messaging ===========================================================

.simple-messaging {
    position: relative;
}

.simple-messaging__counteiner {
    padding-bottom: 100px;
}

.simple-messaging__bgimage {
    left: calc(50vw - (1 - 0.4) * (1140px));
}

.simple-messaging__content {
    padding-top: 155px;
    padding-bottom: 147px;
}

@media (max-width: 1400px) {
    .simple-messaging__bgimage {
        left: auto;
    }
}

@media (max-width: 1275px) {
    .simple-messaging__bgimage {
        opacity: .3;
    }

    .simple-messaging__text {
        font-weight: 600;
    }
}

@media (max-width: 992px) {
    .simple-messaging__bgimage {
        opacity: .1;
    }

    .right-side__counteiner {
        display: flex;
        justify-content: flex-end;
    }

    .right-side__content {
        margin-left: 0;
    }
}

@media (max-width: 740px) {
    .simple-messaging__bgimage {
        right: 0;
    }
}

@media (max-width: 520px) {
    .simple-messaging__bgimage img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

//////////////////////// sharing-stuff===========================================================

.sharing-stuff__bgimage {
    display: none;
}

.sharing-stuff__counteiner {   
    display: flex;
    gap: 111px;
    max-height: 528px;
    padding-bottom: 100px;
}

.sharing-stuff__content {
    padding-top: 115px;
}

.option {
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
    justify-content: space-around;
}

.option__item {
    flex-grow: 0;
    flex-shrink: 1;
    padding: 36px 20px 30px;
    max-width: 260px;
    box-sizing: border-box;
}

.option__icon {
    height: 48px;
    margin-bottom: 26px;
}

.option__title {
    font-size: 18px;
    margin-bottom: 15px;
}

.option__text {
    font-size: 14px;
}

@media (max-width: 1185px) {
    
    .sharing-stuff {
        position: relative;
    }

    .sharing-stuff__bgimage {
        display: block;
        right: 0;
        opacity: .3;
    }

    .sharing-stuff__bgimage img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .sharing-stuff__counteiner {   
        flex-direction: column;
        gap: 50px;
        max-height: none;
        position: relative;
        z-index: 1;
    }

    .option {
        flex-flow: row nowrap;
        gap: 30px;
    }

    .option__item {
        max-width: none;
        flex: 1 1 33.333%;
    }

    .sharing-stuff__text {
        font-weight: 600;
    }
}

@media (max-width: 800px) {
    .option {
        flex-flow: row wrap;
    }

    .option__item {
        flex: 1 1 calc(50% - 30px);
    }

    .option__item:last-child {
        flex: 1 1 100%;
    }
}

@media (max-width: 550px) {
    .option {
        flex-direction: column;
    }

    .option__item {
        flex: 1 1 100%;
    }
}
//////////////////////// keep-in-touch===========================================================

.keep-in-touch {
    position: relative;
}

.keep-in-touch__content__bgimage {
    left: calc(50vw - (1 - 0.48) * (1140px));
}

.keep-in-touch__group__bgimage {
    left: calc(50vw - (0.9 - 0.48) * (1140px));
    top: auto;
    bottom: 0;
}

.keep-in-touch__content {
    padding-top: 197px;
    padding-bottom: 357px;
}

@media (max-width: 1204px) {
    .keep-in-touch__content__bgimage {
        left: 0;
    }
}

@media (max-width: 924px) {
    .keep-in-touch__group__bgimage {
        left: 0;
    }
}

@media (max-width: 868px) {
    .keep-in-touch__content {
        position: relative;
        z-index: 1;
    }
    
    .bgimage-counteiner {
        opacity: .3;
    }

    .keep-in-touch__text {
        font-weight: 600;
    }
}

@media (max-width: 520px) {
    .bgimage-counteiner img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

//////////////////////// lets-start===========================================================

.lets-start {
    text-align: center;
}

.lets-start__counteiner {
    background: #00194A;
    border-radius: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.lets-start__content {
    max-width: 580px;
    margin: 0 auto;
}

.lets-start__text {
    color: #FFFFFF;
}

.lets-start__title {
    color: #FFFFFF;
}

//////////////////////// footer===========================================================

.footer__counteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: Roboto-Medium;
    font-size: 18px;
    line-height: 116%;
}

.links-list {
    display: flex;
    gap: 30px;
    font-size: 16px;
    line-height: 118%;
    a {
        color: #00194A;
        text-decoration-line: none;
    }
}

@media (max-width: 750px) {
    .links-list {
        flex-direction: column;
        gap: 10px;
    }
}
